<meta charset="UTF-8">
<title>Classroom Scheduler</title>

<!-- Temporary bootstrap CDN -->
<link rel="stylesheet" type="text/css" href="/css/styles.css" />

<!-- JQuery CDN -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script src="/js/frontend.js"></script>