<!DOCTYPE html>

<html lang="en-us">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>
        <header>
            <% include ../../partials/header %>
        </header>

        <main>
            <h2>Edit Semester</h2>
            <div class="formArea">
                <form method="POST" action="/semesters/<%= semester._id %>?_method=PUT">
                    <label for="semesterName">Semester Name</label>
                    <input type="text" id="semesterName" name="semesterName" value="<%= semester.semesterName %>" required>
                  
                    <label for="startDate">Start Date</label>
                    <input type="date" id="startDate" name="startDate" value="<%= semester.startDate %>" required>
              
                    <label for="endDate">End Date</label>
                    <input type="date" id="endDate" name="endDate" value="<%= semester.endDate %>" required>
                
                    <input type="submit" value="Submit">
                </form>
            </div>
        </main>

        <footer>
            <% include ../../partials/footer %>
        </footer>
    </body>