<!DOCTYPE html>

<html lang="en-us">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <h2>Select a Schedule</h2>
            <p class="error"><%= error %></p>
            <form action="/" method="post">
                <label for="selectSem">Semester:</label>
                <select id="selectSem" name="semesterId">
                    <% for(var i=0; i < semesters.length; i++) { %>
                        <option value="<%= semesters[i]._id %>"><%= semesters[i].semesterName %></option>
                    <% } %>
                </select>
                <input type="submit" value="Select">
            </form>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>